<div class="header">
    <div class="header-container">
        <div class="header-topic">
            <h1>FASHION</h1>
        </div>
        <div class="header-links">
            <div>
                <ul class="horizontal-list">
                    <li>CATELOGUE</li>
                    <li>FASHION</li>
                    <li>FAVOURITE</li>
                    <li>LIFESTYLE</li>
                </ul>
          
            </div>
            <div class="sign-in-button">
                <button>SIGN UP</button>
            </div>
        </div>
      
    </div>
</div>